:root {
    --input-height: 28px;
}


#tab_files {
    border-right: 1px solid var(--border-color);
}
  
#tab_files ul { 
    padding: 0;
    height: calc(100vh - 245px);
    margin: 5px 0 0 0;
    overflow: scroll;
}

#tab_files li {
    font-size: 12px;
    list-style-type: none;
    line-height: 26px;
    border: 1px solid transparent;
}

#tab_files li span {
    line-height: 26px;
    float: left;
    font-size: 16px;
    margin: 0 3px 0 10px;
}

#tab_files li span:last-child {
    float: right;
    display: none;
    padding-right: 10px;
}  


#tab_files li.border_right_selection {
    border-color: var(--accent-bg-color);
}


#tab_files li:hover {
    background-color: var(--accent-bg-color);
    color: var(--accent-text-color);
    cursor: pointer;
}


#tab_files button {
    background: #fcfcfc;
    border: 1px solid #ccc;
    border-radius: 5px;
    line-height: var(--input-height);
    height: var(--input-height);
    padding: 0 5px;
}

#tab_files button:hover {
    background: #efefef;
}

#tab_files button:first-child {
    border-right: 0 !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#tab_files button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0 !important;
}

#tab_files button span {
    font-size: 15px;
    line-height: var(--input-height);
    height: var(--input-height);
}

#tab_files header {
    margin-top: 10px;
}

#tab_files header input {
    height: var(--input-height);
    border: 1px solid #ccc;
    padding: 0px 10px;
    width: 100%;
}

#tab_files header input::placeholder {
    font-size: 12px;
}

#side_tabs {
    height: 100%;
    float: left;
    border-top: 1px solid var(--border-color);
    width: 36px;
    background: linear-gradient(to right, var(--panel-bg-color) calc(100% - 1px), var(--border-color) 1px);
}

#side_tabs span {
    width: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    border: 1px solid transparent;
    border-right: 1px solid var(--border-color);
}

#side_tabs :first-child {
    border-top: 0 !important;
}


#side_tabs span.active {
    border-right: 1px solid #fff;
    background: #fff;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

#side_tabs span:hover {
    background-color: var(--accent-bg-color);
    color: var(--accent-text-color);
}

.side_panel {
    width: 250px;
    border-top: 1px solid var(--border-color);
    padding: 10px;
    float: left;
}

.side_panel h1 {
    font-size: 18px;
    font-weight: 300;
}