* {
  box-sizing: border-box;
}

:root {
  --accent-bg-color: #2b589b;
  --accent-text-color: #fff;

  --border-color: #ccc;
  --panel-bg-color: #f5f5f5;
}



body {
  font-size: 14px;
  overflow: hidden;
}

html, body, #root {
  height: 100%;
}


#row_validation {
  background-color: #000;
  color: #fff;
  min-height: 0;
}



/*Header and "fake header" when selects a cell, row or column */
.bg-selected.bg-fake-header, .bg-range-selected.bg-fake-header, .bg-range-selected.ag-header-cell {
  background-color: #caead8 !important;
  color: #107c41;
  font-weight: bold;
}

.ag-cell{
  border: 2px solid transparent !important;
}

.ag-cell.bg-selected:not(.bg-fake-header) {
  border: 2px solid #107c41 !important;
}

/* Cell when selects a column or row */
.ag-cell.bg-range-selected {
  background: #e7f2ec !important;
}

/* Transform regular cells into something that looks like a "header" */
.bg-fake-header {
  background-color: #f8f8f8 !important;
  border-right: 1px solid #dde2eb !important;
}





#validations {
  height: 150px;
}

#validations > div > * {
  line-height: 20px;
}

#status_bar .material-symbols-outlined {
  font-size: 13px !important;
  float: left;
  margin-right: 5px;
}

#status_bar {
  background: linear-gradient(
      to bottom,
      var(--panel-bg-color) 0px,
      var(--panel-bg-color) 24px,
      var(--border-color) 24px, 
      var(--border-color) 25px,
      white 25px,
      white 100%
  );
  border-left: 1px solid var(--border-color);

  min-height: 0;
  font-size: 13px;
  height: 180px;
}

#status_bar input[type=radio] {
  display: none;
}

#status_bar label {
  padding: 0 10px;
  line-height: 23px;
  border-bottom: 2px solid transparent;
  margin-right: 5px;
  margin-bottom: 4px;
}

#status_bar label:hover {
  border-color: var(--border-color);
}

#status_bar input[type=radio]:checked + label {
  border-color: var(--accent-bg-color);
}
