#ribbon_bar {
    line-height: 30px;
    position: relative;
    height: 145px;
    padding-top: 8px;
    background-color: var(--accent-bg-color);
}


/* Tabs */
#ribbon_bar input[type=radio] {
    display: none;
}

#ribbon_bar  label {
    padding: 0 12px;
    margin: 3px;
    color: #fff;
    display: inline-block;
}

#ribbon_bar > span > :nth-child(2) {
    margin-left: 10px;
}

#ribbon_bar input[type=radio]:checked + label {
    color: var(--accent-bg-color);
    background-color: var(--panel-bg-color);
}



/* Panel with the icons associated to the tab */
#ribbon_bar section {
    height: 100px;
    width: 100%;
    position: absolute;
    display: none;
    top: 41px;
}

#ribbon_bar section > div {
    background-color: var(--panel-bg-color) ;
}

#ribbon_bar section main {
    height: 96px;
    display: inline-block;
    border-right: 1px solid var(--border-color);
    margin: 4px 0;
    padding: 0 8px;
}

/* Icon's container */
#ribbon_bar section main > div {
    overflow: hidden;
}

#ribbon_bar section footer {
    height: 20px;
    line-height: 20px;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 10px;
}

#ribbon_bar input[type=radio]:checked + label + section {
    display: block;
}